@model IEnumerable<Peliculas.Core.Pelicula>

@{
    ViewData["Title"] = "Peliculas - Home";
}

<div class="text-center mb-4">
    <h1 class="display-4">Bienvenido a Películas</h1>
    <br />
    <p>
        <a asp-action="Create" asp-controller="Home" class="btn btn-primary">Crear Nueva Película</a>
    </p>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Director</th>
            <th>Año</th>
            <th>Puntuación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pelicula in Model)
        {
            <tr>
                <td>@pelicula.Titulo</td>
                <td>@pelicula.Director</td>
                <td>@pelicula.Anio</td>
                <td>@pelicula.Puntuacion</td>
                <td>
                    <a asp-action="Edit" asp-controller="Home" asp-route-id="@pelicula.Id" class="btn btn-sm btn-success">Editar</a>
                    <a asp-action="Delete" asp-controller="Home" asp-route-id="@pelicula.Id" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>